In [1]:
import numpy as np
import pandas as pd
import datetime

# Reading the user file

In [2]:
users = pd.read_csv('ml-100k/u.user', sep='|', names=['user_id', 'age', 'gender', 'occupation', 'zip code'], index_col='user_id')
n_users = users.shape[0]
print('Number of users:', n_users)
users.head()

Number of users: 943

         age gender  occupation zip code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

# Reading ratings file

In [3]:
rating_base = pd.read_csv('ml-100k/ua.base', sep='\t', names=['user_id', 'item id', 'rating', 'timestamp'])
rating_test = pd.read_csv('ml-100k/ua.test', sep='\t', names=['user_id', 'item id', 'rating', 'timestamp'])
rating_base.head()

   user_id  item id  rating  timestamp
0        1        1       5  874965758
1        1        2       3  876893171
2        1        3       4  878542960
3        1        4       3  876893119
4        1        5       3  889751712

In [4]:
rating_base['timestamp'] = rating_base['timestamp'].apply(lambda stamp: datetime.datetime \
                                                          .fromtimestamp(int(stamp)).strftime('%Y-%m-%d %H:%M:%S'))
rating_test['timestamp'] = rating_test['timestamp'].apply(lambda stamp: datetime.datetime \
                                                          .fromtimestamp(int(stamp)).strftime('%Y-%m-%d %H:%M:%S'))
rating_base.head()

   user_id  item id  rating            timestamp
0        1        1       5  1997-09-23 05:02:38
1        1        2       3  1997-10-15 12:26:11
2        1        3       4  1997-11-03 14:42:40
3        1        4       3  1997-10-15 12:25:19
4        1        5       3  1998-03-13 08:15:12

In [5]:
rating_train = rating_base.as_matrix()
type(rating_train)

numpy.ndarray

In [6]:
rating_test = rating_test.as_matrix()
print('Number of training rate:', rating_train.shape[0])
print('Number of test rate:', rating_test.shape[0])

Number of training rate: 90570
Number of test rate: 9430

# Construct Items profile

In [7]:
items = pd.read_csv('ml-100k/u.item', sep='|', names=['movie id', 'movie title' ,'release date',\
                                                      'video release date', 'IMDb URL', 'unknown',\
                                                      'Action', 'Adventure', 'Animation', 'Children\'s',\
                                                      'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western'],\
                    index_col='movie id', encoding='latin-1')
items.head()

,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movie id,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [8]:
n_items = items.shape[0]
print('Number of items:', n_items)

Number of items: 1682

* We only consider the last 19 binary features to construct items profile

In [9]:
X0 = items.as_matrix()
X_train_counts = X0[:, -19:]

In [10]:
# TFIDF
from sklearn.feature_extraction.text import TfidfTransformer
transformer = TfidfTransformer()
X = transformer.fit_transform(X_train_counts.tolist()).toarray()

* For each user, the movies and rating values they rate need to be determined

In [11]:
def get_items_rated_by_user(rate_matrix, user_id):
    """
    return (item_ids, scores)
    """
    ids = np.where(rate_matrix[:, 0] == user_id + 1)[0]#Find row indices has "user_id"
    item_ids = rate_matrix[ids, 1] - 1#Item index starts from 0 
    scores = rate_matrix[ids, 2]
    return item_ids, scores

In [12]:
item_ids, scores = get_items_rated_by_user(rating_train, 0)

In [23]:
tmp = np.array([1, 2, 3, 4, 1, 2, 3])
np.where(tmp == 2)[0]

array([1, 5], dtype=int64)

In [35]:
tmp

array([[1, 1, 5, '1997-09-23 05:02:38'],
       [1, 2, 3, '1997-10-15 12:26:11'],
       [1, 3, 4, '1997-11-03 14:42:40'],
       [1, 4, 3, '1997-10-15 12:25:19'],
       [1, 5, 3, '1998-03-13 08:15:12'],
       [1, 6, 5, '1998-02-14 11:52:53'],
       [1, 7, 4, '1997-09-24 10:26:01'],
       [1, 8, 1, '1997-09-24 10:41:24'],
       [1, 9, 5, '1997-11-03 14:52:21'],
       [1, 10, 3, '1997-10-01 15:05:18']], dtype=object)